!!!5
%meta{:chatset =>'utf-8',:lang=>'DE_de'}
%title rabbit
%link{:src=>'assets/css/main.min.css',:rel=>'stylesheet',:type=>'text/css'}
%script{:src=>'assets/js/jquery-modernizr.min.js',:type=>'text/javascript'}
%script{:src=>'assets/js/main.min.js',:type=>'text/javascript'}

#main-wrapper
	.box.huge
		%img{:src=>'assets/img/lorempixum-650.jpg'}
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.medium
		%img{:src=>'assets/img/lorempixum-300.jpg'}
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.small
		%img{:src=>'assets/img/lorempixum-150.jpg'}
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.tiny
		%img{:src=>'assets/img/lorempixum-75.jpg'}
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.