#aspect-ratio > div.preview {
	@include column(5);
	@include column-gap(5px);
}

div[data-type='aspect-ratio']{
	@include column-break;
	width:100%;
	margin:5px 2.5% 0;
	
	position:relative;
	float:left;
	
	&.small{

		width:45%;
		float:left;
		
		@include clearfix;

		&::last-child{
			margin-right:0;
		}
	}
	& .inner{
		background:#ccc;
		top: 0;
		width: 90%;
		height: 90%;
		overflow: hidden;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	& p{
		display: inline-block;
		width: 100%;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		height: 20px;
		text-align: center;
	}

	&[data-ratio='1-1']{
		@include aspect-ratio(100%);
	}
	&[data-ratio='16-9']{
		@include aspect-ratio(56%);
	}
	&[data-ratio='2-1']{
		@include aspect-ratio(50%);
	}
	&[data-ratio='3-1']{
		@include aspect-ratio(33.3%);
	}
	&[data-ratio='4-1']{
		@include aspect-ratio(25%);
	}
	&[data-ratio='1-2']{
		@include aspect-ratio(200%);
	}

}