.description
	.title 
		%h2 Aspect Ratio
	.inner
		%h1 Aspect Ratio
		%p All boxes keep aspect ratio  
		%pre 
			%code
				= preserve do
					:escaped
						<!--basic markup-->
						<div data-ratio="1-1" data-type="aspect-ratio">
							<div class="inner">
								<p>1-1 Aspect Ratio</p>
							</div>
						</div>
		%span.more view example