.preview
	<!--Simple-->
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"1-2"}
		.inner
			%p 1-2 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"1-1"}
		.inner
			%p 1-1 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"16-9"}
		.inner
			%p 16-9 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"2-1"}
		.inner
			%p 2-1 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"3-1"}
		.inner
			%p 3-1 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"4-1"}
		.inner
			%p 4-1 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"4-1"}
		.inner
			%p 4-1 Aspect Ratio
	%div{:'data-type' => "aspect-ratio", :'data-ratio' =>"4-1"}
		.inner
			%p 4-1 Aspect Ratio
	%div.small{:'data-type' => "aspect-ratio", :'data-ratio' =>"1-1"}
		.inner
			%p 1-1.small
	%div.small{:'data-type' => "aspect-ratio", :'data-ratio' =>"1-1"}
		.inner
			%p 1-1.small