.preview
	.rabbit-bg{:'data-type'=>'bg',:'data-bg-id'=>'1', :'data-bg-style'=>'simple'}
	.rabbit-bg{:'data-type'=>'bg',:'data-bg-id'=>'2', :'data-bg-style'=>'rotate'}
	.rabbit-bg{:'data-type'=>'bg',:'data-bg-id'=>'3', :'data-bg-style'=>'cube'}
	.rabbit-bg{:'data-type'=>'bg',:'data-bg-id'=>'4', :'data-bg-style'=>'cube'}