.description
	.title 
		%h2 Background Tiles
	.inner
		%h1 Background Tiles
		%p call your data-bg-style whatever you want and init it with
		%pre 
			%code
				= preserve do
					:escaped
						/*js*/
						var $bg1 = {
							style : 'simple',
							identifier:1,
							col:20,
							offset:'.4',
							image:'assets/img/lorempixum2.jpg'
						}
						new rabbitBG($options);

		%pre 
			%code
				= preserve do
					:escaped
						<!-- haml -->
						
						.rabbit-bg{:'data-bg-style'=>'simple'}
		
		%a.more{:href => '#background-tiles'} view example