.preview
	.col-1-1
		.box.col-1-2
			.inner
				%img{:src=>'assets/img/lorempixum-650.jpg'}
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		.col-1-2
			.inner
				.box.col-1-1
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.box.col-1-1
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.box.col-1-1
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.box.col-1-2
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.box.col-1-2
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.box.col-1-2
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.box.col-1-2
					.inner
						%img{:src=>'assets/img/lorempixum-75.jpg'}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	.box.col-1-2
		.inner
			%img{:src=>'assets/img/lorempixum-300.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-2
		.inner
			%img{:src=>'assets/img/lorempixum-300.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-3
		.inner
			%img{:src=>'assets/img/lorempixum-150.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-3
		.inner
			%img{:src=>'assets/img/lorempixum-150.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-3
		.inner
			%img{:src=>'assets/img/lorempixum-150.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-4
		.inner
			%img{:src=>'assets/img/lorempixum-75.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-4
		.inner
			%img{:src=>'assets/img/lorempixum-75.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-4
		.inner
			%img{:src=>'assets/img/lorempixum-75.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	.box.col-1-4
		.inner
			%img{:src=>'assets/img/lorempixum-75.jpg'}
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.