.description
	.title 
		%h2 grid
	.inner
		%h1 Basic Grid
		%p Just another little grid system. You can use it by giving the box a class with 
		%pre 
			%code
				= preserve do
					:escaped
						.col-1-1 -> (1/1)
						.col-1-2 -> (1/2) and so on.
		%a.more{:href => '#grid'} view example