!!!5
%meta{:chatset =>'utf-8',:lang=>'de'}
%title rabbit
%link{:href=>'http://yandex.st/highlightjs/8.0/styles/default.min.css',:rel=>'stylesheet',:type=>'text/css'}
%link{:href=>'assets/css/main.min.css',:rel=>'stylesheet',:type=>'text/css'}
%script{:src=>'assets/js/jquery-modernizr.min.js',:type=>'text/javascript'}
%script{:src=>'http://yandex.st/highlightjs/8.0/highlight.min.js',:type=>'text/javascript'}

<!--Scripts-->
%script{:src=>'assets/js/slideshow.min.js',:type=>'text/javascript'}
%script{:src=>'assets/js/overlay.min.js',:type=>'text/javascript'}
%script{:src=>'assets/js/background-tiles.min.js',:type=>'text/javascript'}
%script{:src=>'assets/js/main.min.js',:type=>'text/javascript'}

