.preview
	%button{:'data-button'=>'overlay',:'data-button-style'=>"simple"}
		simple
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"simple"}
		.inner
			%p simple
	%button{:'data-button'=>'overlay',:'data-button-style'=>"scale-in"}
		scale-in
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"scale-in"}
		.inner
			%p scale-in
	%button{:'data-button'=>'overlay',:'data-button-style'=>"blur"}
		blur
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"blur"}
		.inner
			%p blur !!! Caution: These kind of filters are slow !!!