.description
	.title 
		%h2 Overlays
	.inner
		%h1 Overlays
		%p A few overlays.  
		%pre 
			%code
				= preserve do
					:escaped
						<!--basic markup-->
						<button data-button-style="simple" data-button="overlay">Simple Overlay</button>
						<div data-overlay-type="simple" data-type="overlay">
							<div class="inner">
								<p>Simple Overlay</p>
							</div>
						</div>
		%span.more view example