.preview
	<!--Simple-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"simple"}
		simple
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"simple"}
		.inner
			%h1 simple
	<!--Scale in-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"scale-in"}
		scale-in
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"scale-in"}
		.inner
			%h1 scale-in
	<!--Blur-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"blur"}
		blur
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"blur"}
		.inner
			%h1 blur !!! Caution: These kind of filters are slow !!!
	<!--rotate-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"rotate"}
		rotate
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"rotate"}
		.inner
			%h1 rotate
	<!--rotate-x-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"rotate-x"}
		rotate-x
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"rotate-x"}
		.inner
			%h1 rotate-x
	<!--rotate-y-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"rotate-y"}
		rotate-y
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"rotate-y"}
		.inner
			%h1 rotate-y
	<!--slide-y-top-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"slide-y-top"}
		slide-y-top
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"slide-y-top"}
		.inner
			%h1 slide-y-top
	<!--slide-y-bottom-->
	%button{:'data-button'=>'overlay',:'data-button-style'=>"slide-y-bottom"}
		slide-y-bottom
	%div{:'data-type'=>'overlay',:'data-overlay-type'=>"slide-y-bottom"}
		.inner
			%h1 slide-y-bottom