.preview
	%ul.slideshow
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}
		%li
			%img{:src=>'assets/img/lorempixum-650.jpg'}