.description
	.title 
		%h2 slideshow
	.inner
		%h1 Basic Slideshow
		%p Just another very simple slideshow.  
		%pre 
			%code
				= preserve do
					:escaped
						<!--basic markup-->
						<ul class="slideshow">
						  <li><img src="bild-1.jpg" alt="bild"/></li>
						  <li><img src="bild-1.jpg" alt="bild"/></li>
						  <li><img src="bild-1.jpg" alt="bild"/></li>
						</ul>
		%pre 
			%code
				= preserve do
					:escaped
						<script>
						  //initialize the slideshow
						  var $options = {
						  		'pagination':true, //default true
						  		'loop':true, //known issue: only if you slide right
						  		'height':300,	//in px - default 300px
						  		'width':100,	//in % - default 100%
						  	}
						  //init with arguments
						  rabbit.slideshow($options);
						</script>
		%span.more view example